body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(222, 10, 241);
}
canvas {
    background: #b6abab;
    display: block;
    margin: 20px auto;
}
#scoreboard {
    font-size: 20px;
}
#message {
    font-size: 20px;
    color: rgba(0, 58, 167, 0);
    font-weight: bold;
    display: none;
}