body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(245, 135, 255);
}
body {
    margin: 0;
    background-image: url('./car.webp'); /* Replace the <img> with this */
    background-size: cover; /* Ensures the image covers the entire body */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    background-position: center; /* Centers the image */
  }
  
canvas {
    background: white;
    display: block;
    margin: 20px auto;
}
#scoreboard {
    font-size: 20px;
}
#message {
    font-size: 20px;
    color: rgba(0, 58, 167, 0);
    font-weight: bold;
    display: none;
}